$hight-font: #10192a;
$medium-font: #707684;
$disabled-font: #999ca3;

$active-bg: #fff;
$main-bg: #e2e4e7;

$inactive-bg: #cdd0d7;
$inactive-bg-hover: #c6c9d1;

$action-bg: #f2f4f9;
$action-bg-hover: #eceef3;

$accent-color: #ff3d00;

$main-shodow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
